.auth-errors-reveal {
  text-align: center;
  color: white;
  background-color: #e25858;
  font-size: 12px;
  width: 260px;
  margin: 10px 0px;
  padding: 20px;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;

  .auth-page-img-div {
    min-height: 100%;
    min-width: 1024px;
    width: 120%;
    height:max-content;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    z-index: 1;
  }

  .auth-page-bg-img {
    min-height: 100%;
    min-width: 1024px;
    width: 120%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    opacity: 0.40;
  }

  .signup-form-div {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 550px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    z-index: 2;
  }

  .auth-title {
    position: relative;
    bottom: 10px;
    .auth-h1 {
      font-family: 'Josefin Sans', sans-serif;
      padding: 15px 15px 5px 15px;
      font-size: 55px;
      font-weight: 900;
    }

    .auth-p {
      font-family: 'Josefin Sans', sans-serif;
      text-align: center;
      color: gray;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.2em;
      z-index: 2;
    }
  }

  .signup-form {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px 10px 10px;

    .signup-form-aside {
      background-color: rgb(253, 245, 150);
      padding: 10px;
      .aside-p{
        text-align: center;
        color: gray;
        font-size: 13px;
        font-weight: bold;
        a {
          text-decoration: none;
          color:rgb(255, 183, 0)
        }
        a:hover {
          color:rgb(255, 201, 66)
        }
      }
    }

    .signup-p {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      margin: 20px 20px;
    }

    .signup-input-container {
      width: 230px;
      height: 30px;
      margin: 10px 15px;
      padding: 0px 5px;
      position: relative;
      display: flex;
      justify-content: center;
      border: lightgray 1px solid;
      border-radius: 4px;
      .icon {
        position: absolute;
        top: 6px;
        left: 5px;
        width: 17px;
        height: 17px;
      }
      hr {
        border: lightgray 0.5px solid;
        color: lightgray;
        position: absolute;
        left: 34px;
        top: 2px;
        height: 24px;
        width: 0.5px;
        margin: 0px;
      }
    }

    .signup-form-input {
      font-size: 15px;
      position: absolute;
      left: 45px;
      top: 0;
      width: 190px;
      height: 24px;
      padding: 2px 0 0 0;
      // padding-left: 15px;
      border-style: none;
      outline: none;
      // border: lightgray 2px solid;
    }

    .pw-input {
      margin: 30px 15px;
    }

    .signup-tos {
      display: flex;
      justify-content: center;
      .signup-tos-p {
        width: 70%;
        font-size: 11px;
        text-align: center;
        padding-bottom: 20px;
      }
    }

    .btn {
      padding: 10px 90px;
      color: white;
      font-size: 15;
      font-weight: 700;
      letter-spacing: 0.1em;
      background-color: #f9c806;
      border: none;
      border-radius: 3px;
    }

    .btn:hover {
      background-color: rgb(250, 190, 37);
      cursor: pointer;
    }
  }
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  
  .auth-page-img-div {
    min-height: 100%;
    min-width: 1024px;
    width: 120%;
    height:max-content;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    z-index: 1;
  }

  .auth-page-bg-img {
    // position: absolute;
    // top: 0px;
    // left: 0px;
    // bottom: 0px;
    // right: 0px;
    min-height: 100vh;
    min-width: 100%;
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 0.40;
  }

  .auth-title {
    position: relative;
    bottom: 10px;
    .auth-h1 {
      font-family: 'Josefin Sans', sans-serif;
      padding: 5px;
      font-size: 55px;
      font-weight: 900;
    }

    .auth-p {
      text-align: center;
      color: gray;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0.2em;
      z-index: 2;
    }
  }

  .demo-btn {
    width: 85%;
    padding: 10px 66px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #314581;
    border: none;
    border-radius: 3px;
  }

  .demo-btn:hover {
    cursor: pointer;
  }

  .or {
    display: flex;
    align-items:center;
    height: 17px;
    width: 20px;
    text-align: center;
    position: relative;
    color: lightgray;
    font-size: 14px;
    padding: 5px;
    border: lightgray 3px solid;
    border-radius: 50%;
  }

  .login-form-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 343px;
    height: 525px;
    background-color: white;
    padding: 20px;
    z-index: 2;
  }

  .login-form {
    position: relative;
    top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .input-container {
      width: 85%;
      height: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      border: lightgray 1px solid;
      border-radius: 3px;
      .icon {
        position: absolute;
        top: 5px;
        left: 4px;
        width: 17px;
        height: 17px;
      }
      hr {
        border: lightgray 0.5px solid;
        position: absolute;
        left: 30px;
        top: 2px;
        height: 23px;
        width: 0.5px;
        margin: 0px;
      }
    }

    .login-form-input {
      position: absolute;
      left: 40px;
      padding: 3px 0 0 5px;
      width: 230px;
      height: 24px;
      border-style: none;
      outline: none;
      border-radius: 3px;
      // border: lightgray 2px solid;
    }

    .btn {
      width: 85%;
      padding: 10px 90px;
      color: white;
      font-size: 15;
      font-weight: 700;
      letter-spacing: 0.1em;
      background-color: #f9c806;
      border: none;
      border-radius: 3px;
    }

    .btn:hover {
      background-color: rgb(250, 190, 37);
      cursor: pointer;
    }
  }

  .login-hr {
    border: lightgray 0.5px solid;
    width: 85%;
    z-index: 2;
  }

  .login-form-signup-p {
    font-size: 20px;
    font-weight: 600;
    color: gray;
  }

  .login-form-signup-link {
    color: darkorange;
    text-decoration: none;
    padding-left: 8px;
  }
  .login-form-signup-link:hover {
    color: rgb(255, 167, 2);
  }
}

.auth-errors-hidden {
  visibility: hidden;
}