.hidden {
  display: none;
}



.beer-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
  .beer-form-container {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: fit-content;
    background-color: white;
    box-shadow: 0 1px 2px 0.01px rgb(231, 231, 231),
          0 0 0 0 rgb(231, 231, 231);
    .beer-form-instructions, .beer-form {
      background-color: white;
      padding: 25px 25px 0 25px;
      width: 90%;
      
    }
    .beer-form-instructions {
      
      h1, p, ul > li {
        padding: 5px 0;
      }
      h1, p {
        font-weight: bold;
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
      #ul-title {
        text-decoration: underline;
      }
      ul {
        padding-left: 12px;
      }
      ul > li {
        list-style-type: disc;
        font-size: 14px;
      }
    }

    .beer-form-errors-reveal {
      text-align: center;
      color: white;
      background-color: #e25858;
      font-size: 15px;
      width: 87%;
      padding: 15px 0;
    }

    .beer-form {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      .beer-form-3 {
        margin-top: 15px;
        display: flex;
        padding: 3px;
        div {
          width: 50px;
          margin-right: 25px;
          label {
            font-size: 12px;
            margin: 5px 0;
          }
          input {
            width: 50px;
            padding: 5px;
            font-size: 16px;
          }
        }
        .beer-form-style-div {
          width: 100%;
          margin-right: 0;
          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            height: 58%;
            padding: 5px;
            border: 1px solid lightgray;
            border-radius: 3px;
            font-size: 16px;
          }
          .select-arrow-down {
            background: none !important;
            pointer-events: none;
            position: relative;
            bottom: 16px;
            left: 245px;
            width: 0;
            height: 0;
            border-top: 6px solid gold;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
          }
        }
      }
      label {
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 5px;
        color: gray;
      }
      input {
        border: 1px solid lightgray;
        font-size: 16px;
        padding: 5px;
        border-radius: 3px;
      }
      textarea {
        border: 1px solid lightgray;
        border-radius: 3px;
      }
  
      .beer-form-btn {
        padding: 10px 0;
        margin-top: 10px;
        color: white;
        background-color: gold;
        border: none;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 700;
      }
      .beer-form-btn:hover {
        cursor: pointer;
        background-color: rgb(255, 187, 0);
      }
    }
  
  }
}