.beer-index-container {
  // background-color: rgb(248, 248, 230);
  width: 700px;
  // height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  // position: relative;
  // top: 42px;
  // z-index: 0;
  // border: 1px solid black;
  .beer-index-title {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    padding: 25px;
    background-color: rgb(250, 250, 250);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .beer-index-tags {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid rgb(231, 231, 231);
    // padding: 10px 20px;
    display: flex;
    .tag {
      text-decoration: none;
      color: black;
      font-size: 15px;
      padding: 13px 20px;
      display:flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 50%;
    }
    .beers-tag {
      background-color: white;
      box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.09);
      border-right: 1px solid rgb(231, 231, 231);
      border-bottom: 1px solid white;
    }
    .breweries-tag {
      background-color: rgb(240, 240, 240);
      border-bottom: 1px solid rgb(231, 231, 231);
    }
    .breweries-tag:hover {
      background-color:rgb(250, 250, 250);
    }
  }

  .beer-index-p-container {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 15px;
    .beer-index-p {
      font-size: 15px;
      font-weight: 700;
    }
  }

  .beer-index {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 20px;
    height: fit-content;
    box-shadow:
          5px 0px 5px -5px rgba(0, 0, 0, 0.04),
          0px 5px 5px -5px rgba(0, 0, 0, 0.04),
          -5px 0px 5px -5px rgba(0, 0, 0, 0.04);

    .beer-item-container {
      height:fit-content;
      .beer-item {
        
        margin-bottom: 10px;
        height: fit-content;
        width: 100%;
        .beer-item-top {
          position: relative;
          display: flex;
          padding: 10px 0;
          .beer-item-img {
            padding: 0 15px 0 0;
            margin-bottom: 10px; 
            height: 100px;
            width: 100px;
          }
          .beer-item-details {
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            padding-right: 10px;
            // margin-right: 100px;
            height: fit-content;
            width: 70%;
            #beer-item-name {
              width:fit-content;
              color: rgb(216, 140, 0);
              text-decoration: none;
              font-size: 22px;
              padding-bottom: 5px;
            }
            #beer-item-brewery {
              width: fit-content;
              color: rgb(216, 140, 0);
              text-decoration: none;
              font-size: 16px;
              padding-bottom: 5px;
            }
            #beer-item-style {
              color: gray;
              padding: 5px 0;
              font-size: 15px;
            }
            #beer-item-description {
              // border: 1px solid black;
              width: 100%;
              color: gray;
              padding: 5px 0;
              font-size: 14px;
            }
          }
          .beer-item-checkin-btn {
            // border: 1px solid black;

            border: none;
            background-color: gold;
            width: 50px;
            height: 50px;
            margin: 15px;
          }
          .beer-item-checkin-btn:hover{
            cursor: pointer;
            background-color: rgb(255, 196, 0);
          }
          .beer-item-checkin-btn:hover #checkin-tag {
            display: block;
            transition-delay: 0.5s;
            transition: 1s 1s;
          }
          .checkmark {
            // border: 1px solid black;

            background: none !important;
            pointer-events: none;
            position: absolute;
            top: 35px;
            right: 31px;
            // border: 1px solid black;
            display: inline-block;
            width: 15px;
            height: 24px;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            .checkmark-stem {
              // background: none !important;
              pointer-events: none;
              position: absolute;
              width: 7px;
              height: 24px;
              background-color: white;
              right: 0;
              
            }
            .checkmark-kick {
              // background: none !important;
              pointer-events: none;
              border-right: 0.5px solid white;
              position: absolute;
              width: 7px;
              height: 8px;
              background-color: white;
              right: 7px;
              top: 16px;
            }
          }
          // .hidden {display: none;}
          #checkin-tag {
            display: none;
            // visibility: hidden;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            position: absolute;
            bottom: 15px;
            right: -5px;
            height: fit-content;
            width: fit-content;
            z-index: 5;
            transition-delay: 0.5s;
            transition: 1s;
            #checkin-tag-tri {
              position: relative;
              left: 37px;
              width: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid black;
            }
            #checkin-tag-txt {
              font-size: 10px;
              color: white;
              background-color: black;
              padding: 4px 4px 4px 2px;
              border-radius: 2px;
            }
          }
        }
        .beer-item-bottom {
          border-top: 1px solid rgb(231, 231, 231);
          border-bottom: 1px solid rgb(231, 231, 231);;
          display: flex;
          align-items: center;
          font-size: 15px;
          height: 48px;
          div {
            display: flex;
            align-items: center;
            color: rgb(156, 156, 156);
            font-size: 16px;
            padding: 5px 20px;
            box-sizing: border-box;
            height: 100%;
          }
          #abv {
            border-right: 1px solid rgb(231, 231, 231);
          }
          #ibu {
            border-right: 1px solid rgb(231, 231, 231);
          }
          #beer-rating-bar {
            width: 30%;
            border-right: 1px solid rgb(231, 231, 231);
            #rating-view {
              position: relative;
              right: 15px;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              // border: 1px solid black;
              height: 15px;
              width: fit-content;
              img {
                height: 20px;
                width: 20px;
                margin: 1px;
              }
            }
            p {
              position: relative;
              right: 18px;
            }
          }
          #beer-total-ratings {
            border-right: 1px solid rgb(231, 231, 231);
          }

        }
      }
    }
  }
}