.brewery-index-container{
  // border: 1px solid black;
  width: 700px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // position: relative;
  margin-top: 60px;
  // z-index: 0;
  .brewery-index-title {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    padding: 25px;
    background-color: rgb(250, 250, 250);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .brewery-index-tags {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid rgb(231, 231, 231);
    // padding: 10px 20px;
    display: flex;
    .tag {
      text-decoration: none;
      color: black;
      font-size: 15px;
      padding: 13px 20px;
      display:flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 50%;
    }
    .breweries-tag {
      background-color: white;
      border-bottom: 1px solid white;
    }
    .beers-tag {
      background-color: rgb(240, 240, 240);
      border-bottom: 1px solid rgb(231, 231, 231);
      border-right: 1px solid rgb(231, 231, 231);

    }
    .beers-tag:hover {
      background-color:rgb(250, 250, 250);
    }
  }

  .brewery-index-p-container {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 15px;
    .brewery-index-p {
      font-size: 13px;
      font-weight: 700;
    }
  }

  .brewery-index {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 20px;
    height: fit-content;
    box-shadow:
          5px 0px 5px -5px rgba(0, 0, 0, 0.04),
          0px 5px 5px -5px rgba(0, 0, 0, 0.04),
          -5px 0px 5px -5px rgba(0, 0, 0, 0.04);

    .brewery-item-container {
      height:fit-content;
      
      .brewery-item {
        // border: 1px solid black;
        display: flex;
        margin: 15px 0;
        height: fit-content;
        width: 100%;
        border-bottom: 1px solid rgb(231, 231, 231);
        .brewery-item-left {
          // border: 1px solid black;

          display: flex;
          padding-bottom: 10px;
          width: 350px;
          padding-right: 50px;
          .brewery-item-img {
            padding: 0 5px 0 0;
            margin-bottom: 10px; 
            height: 70px;
            width: 70px;
          }
          .brewery-item-details {
            // border: 1px solid black;

            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            padding-right: 15px;
            height: fit-content;
            width: 70%;
            #brewery-item-name {
              color: rgb(216, 140, 0);
              text-decoration: none;
              font-size: 22px;
              padding-bottom: 5px;
            }
            #brewery-item-brewery {
              color: rgb(216, 140, 0);
              text-decoration: none;
              font-size: 13px;
              padding-bottom: 5px;
            }
            #brewery-item-location {
              color: gray;
              padding: 5px 0;
              font-size: 17px;
            }
            #brewery-item-type {
              color: gray;
              padding: 5px 0;
              font-size: 15px;
            }
          }
        }
        .brewery-item-right {
          // padding-bottom: 15px;
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          width: 300px;
          align-items: center;
          font-size: 15px;
          
          .brewery-item-right-top {
            display: flex;
            border-left: 1px solid rgb(231, 231, 231);
            div {
              display: flex;
              align-items: center;
              justify-content: center;
              color: gray;
              font-size: 12px;
              padding: 15px;
              font-size: 20px;
              p {
                margin-left: 10px;
              }
            }
          }
          #brewery-rating-bar {
            // border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-top: 1px solid rgb(231, 231, 231);
            border-left: 1px solid rgb(231, 231, 231);
            color: gray;
            font-size: 12px;
            padding: 15px;
            #rating-view {
              position: relative;
              right: 15px;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              // border: 1px solid black;
              height: 15px;
              width: fit-content;
              img {
                height: 20px;
                width: 20px;
                margin: 1px;
              }
            }
          }
          #brewery-total-beers {
            border-right: 1px solid rgb(231, 231, 231);
          }

        }
      }
    }
  }
}