.brewery-index-container{
  // background-color: rgb(248, 248, 230);
  // width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // position: relative;
  margin-top: 42px;
  // z-index: 0;
  .brewery-index-title {
    font-size: 18px;
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    background-color: rgb(250, 250, 250);
    font-weight: bold;
  }

  .brewery-index-tags {
    border-top: 1px solid rgb(231, 231, 231);
    // padding: 10px 20px;
    width: 540px;
    display: flex;
    .tag {
      text-decoration: none;
      color: black;
      font-size: 12px;
      padding: 10px 20px;
      display:flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 50%;
    }
    .breweries-tag {
      background-color: white;
      border-bottom: 1px solid white;
    }
    .beers-tag {
      background-color: rgb(240, 240, 240);
      border-bottom: 1px solid rgb(231, 231, 231);
      border-right: 1px solid rgb(231, 231, 231);

    }
    .beers-tag:hover {
      background-color:rgb(250, 250, 250);
    }
  }

  .brewery-index-p-container {
    background-color: white;
    width: 510px;
    padding: 15px;
    .brewery-index-p {
      font-size: 13px;
      font-weight: 700;
    }
  }

  .brewery-index {
    background-color: white;
    // position:relative;
    padding: 20px;
    // left: 200px;
    // top: 200px;
    height: fit-content;
    width: 500px;
    box-shadow:
          5px 0px 5px -5px rgba(0, 0, 0, 0.04),
          0px 5px 5px -5px rgba(0, 0, 0, 0.04),
          -5px 0px 5px -5px rgba(0, 0, 0, 0.04);

    .brewery-item-container {
      height:fit-content;
      
      .brewery-item {
        display: flex;
        margin: 15px 0;
        height: fit-content;
        width: 100%;
        border-bottom: 1px solid rgb(231, 231, 231);
        .brewery-item-left {
          display: flex;
          padding-bottom: 10px;
          width: 350px;
          padding-right: 50px;
          .brewery-item-img {
            padding: 0 5px 0 0;
            margin-bottom: 10px; 
            height: 60px;
            width: 60px;
          }
          .brewery-item-details {
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            padding-right: 15px;
            height: fit-content;
            width: fit-content;
            #brewery-item-name {
              color: rgb(216, 140, 0);
              text-decoration: none;
              font-size: 17px;
              padding-bottom: 5px;
            }
            #brewery-item-brewery {
              color: rgb(216, 140, 0);
              text-decoration: none;
              font-size: 13px;
              padding-bottom: 5px;
            }
            #brewery-item-location {
              color: gray;
              padding: 5px 0;
              font-size: 13px;
            }
            #brewery-item-type {
              color: gray;
              padding: 5px 0;
              font-size: 12px;
            }
          }
        }
        .brewery-item-right {
          padding-bottom: 15px;
          display: flex;
          flex-wrap: wrap;
          width: 300px;
          align-items: center;
          font-size: 15px;
          
          .brewery-item-right-top {
            display: flex;
            border-left: 1px solid rgb(231, 231, 231);
            div {
              color: gray;
              font-size: 12px;
              padding: 15px;
            }
          }
          #brewery-rating-bar {
            width: 100%;
            border-top: 1px solid rgb(231, 231, 231);
            border-left: 1px solid rgb(231, 231, 231);
            color: gray;
            font-size: 12px;
            padding: 15px;
          }
          #brewery-total-beers {
            border-right: 1px solid rgb(231, 231, 231);
          }

        }
      }
    }
  }
}