.loading-container {
  .loading {
    
  }
}

.checkin-show-container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  .checkin-show {
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // border: 3px solid pink;
    width: 400px;
    .checkin-show-details {
      background-color: white;
      // border: 1px solid black;
      padding: 10px;
      .chk-show-det-1 {
        padding: 5px;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
        }
        div {
          padding: 15px;
          p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }
      }
      .chk-show-det-2 {
        // border: 1px solid black;
        #chk-show-2-top {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          // border: 1px solid green;
          #chk-show-beer {
            width: 60px;
            height: 60px;
            padding: 10px;
          }
          div {
            display: flex;
            flex-direction: column;

            a {
              margin-top: 15px;
              text-decoration: none;
              color: black;
              font-size: 24px;
            }
            #brw {
              font-size: 17px;
            }
            a:hover {
              color: goldenrod;
            }
          }
        }
        #chk-show-2-bottom {
          display:flex;
          flex-direction: column;

          // border: 1px solid black;
          padding: 15px;
          p {
            font-size: 18px;
            color: gray;
            margin-bottom: 10px;
          }
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            #rating-view {
              margin: 15px 0;
              display: flex;
              align-items: center;
              justify-content: center;
              // border: 1px solid black;
              height: 15px;
              width: fit-content;
              img {
                height: 22px;
                width: 22px;
                margin: 1px;
              }
            }
            p {
              color: black;
              font-size: 15px;
            }
          }
        }
      }
      .chk-show-det-3 {
        width: 100%;
        display: flex;
        align-items: center;
        border-top: 1px solid lightgray;
        p {
          padding: 15px;
          color: gray;
        }
      }
    }
    .checkin-show-toasts {
      display: flex;
      align-items: center;
      // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      margin: 15px 0;
      background-color: white;
      height: fit-content;
      .show-toast-btn {
        position: relative;
        border: none;
        outline: none;
        appearance: none;
        background: none;
        color: white;
        font-size: 17px;
        font-weight: 700;
        height: 50px;
        width: 100px;
        .show-toast-icon {
          background: image-url('btn_toast.png') left bottom no-repeat;
          padding: 3px 0 2px 25px;
          margin-left: 5px;
        }
      }
      .show-toast-btn.toasted {
        background-color: rgb(252, 199, 25);
        box-shadow: inset 1px 1px 3px 0px goldenrod, inset -1px -1px 3px 0px goldenrod;
        .show-toast-icon.toasted {
          background-position: top left;
        }
      }
      .show-toast-btn:hover {
        cursor: pointer;
      }
      .show-toast-count {
        font-size: 20px;
        color: gray;
        padding: 10px 20px;
        margin: 5px 0;
        border-right: 0.5px solid lightgray;
      }
      .show-toast-avatars {
        img {
          width: 30px;
          height: 30px;
          margin-left: 10px;
        }
      }
      
    }
    .checkin-show-comment {
      background-color: white;
      .comment-index-container {
        .comment-index {
          .comment-index-item-container {
            border-bottom: 1px solid rgb(231, 231, 231);
            .comment-index-item {
              background-color: white;
              display: flex;
              padding: 10px 5px;
              .author-img {
                width: 38px;
                height: 38px;
                border-radius: 50px;
              }
              .static-comment-body {
                width: 100%;
                margin-left: 10px;
                .comment-body {
                  font-size: 15px;
                }
                .comment-btns {
                  display: flex;
                  align-items: center;
                  margin-top: 8px;
                  font-size: 12px;
                  color: rgb(173, 173, 173);
                  button {
                    appearance: none;
                    border: none;
                    outline: none;
                    background: none;
                    margin-left: 10px;
                    color:rgb(228, 148, 0);
                    font-size: 12px;
                  }
                  button:hover {
                    cursor: pointer;
                    color:rgb(255, 183, 0);
                  }
                  button.hidden {
                    display: none;
                  }
                }

              }
              .static-comment-body.hidden {
                display: none;
              }
              .comment-edit-form-container {
                width: 100%;
                margin-left: 10px;
                .comment-edit-form {
                  #comment-edit-textarea {
                    resize: none;
                    width: 95%;
                    border-radius: 5px;
                    box-shadow: inset 1px 1px 5px 1px lightgray
                  }
                }
                .comment-edit-form-bottom {
                  display: flex;
                  align-items: center;
                  p {
                    color: lightgray;
                    font-size: 15px;
                    margin-right: auto;
                  }
                  button {
                    appearance: none;
                    background: none;
                    border: none;
                    outline: none;
                    color:rgb(228, 148, 0);
                    font-size: 15px;
                    font-weight: bold;
                  }
                  button:hover {
                    cursor: pointer;
                  }
                  #edit-update:hover {
                    color:rgb(241, 183, 35)
                  }
                  #edit-cancel {
                    margin-left: 15px;
                    color: gray;
                  }
                }
              }
              .comment-edit-form-container.hidden {
                display: none;
              }
            }
          }
        }
      }
      .comment-form-container {
        background-color: white;
        padding: 8px;
        overflow: hidden;
        transition: all 0.75s;
        -o-transition: all 0.75s;
        -webkit-transition: all 0.75s;
        height: fit-content;
        max-height: 300px;
        .comment-form {
          #comment-form-textarea {
            width: 95%;
          }
          .comment-form-bottom {
            display: flex;
            .chars-typed {
              margin-top: 5px;
              margin-left: 5px;
              font-family: 'Roboto', sans-serif;
              font-size: 15px;
              color: lightgray;
            }
            .comment-form-btn {
              outline: none;
              border: none;
              border-radius: 4px;
              margin-top: 5px;
              margin-left: auto;
              padding: 5px 40px;
              background-color: rgb(177, 176, 176);
              font-family: 'Roboto', sans-serif;
              font-weight: 600;
              font-size: 18px;
              color: white;
            }
            .comment-form-btn:hover {
              cursor: pointer;
              background-color: gray;
            }
            .comment-form-btn:active {
              background-color: rgb(78, 78, 78);
            }
          }
        }
      }
    }
  }
}