.checkin-form-container {
  width: 500px;
  height: fit-content;
  

  .checkin-form-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: black;
    // border: 1px solid green;
    h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: white;
      margin-left: 5px;
    }
    button {
      font-size: 20px;
      height: fit-content;
      width: fit-content;
      color: white;
      background-color: black;
      border: none;
      margin-left: 5px;
      // background-color: gray;
    }

  }
  .checkin-form {
    width: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    .checkin-form-textarea {
      font-family: Arial, Helvetica, sans-serif;
      margin: 10px;
      border: 1px solid lightgray;
      border-radius: 3px;
    }
    .checkin-char-count {
      text-align: center;
      padding: 2px;
      font-size: 11px;
      width:fit-content;
      height:fit-content;
      position: absolute;
      top: 59.75%;
      bottom: 41.25%;
      left: 74.75%;
      right: 25.25%;
      background-color: rgb(236, 236, 236);
      color: rgb(148, 148, 148);
    }
    input[type="file"] {
      display: none;
    }
    #upload {
      width: 80px;
    }
    .photo-upload {
      margin-top: 10px;
      color: white;
      border: none;
      border-radius: 3px;
      background-color: gold;
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
    }
    .photo-upload:hover {
      cursor: pointer;
      background-color:rgb(250, 190, 37);
    }
    .checkin-form-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 95%;
      .ratings-bar-container {
        position: relative;
        height: fit-content;
        width: 360px;
        margin: 10px;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        // border: 1px solid black;
        #rating {
          margin-top: 15px;
          width: 250px;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          height: 10px;
          background-color: gray;
          border-radius: 5px;
        }
        #rating:active, #rating:focus {
          border: 0;
          outline: none;
        }
        #rating::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 30px;
          height: 30px;
          background-color: rgb(255, 193, 37);
          border-radius: 18px;
        }
        .ratings-value {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 42px;
          border-radius: 4px;
          background-color: gray;
          .no-rating {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: 60px;
            color: white;
            #p1 {
              font-size: 22px;
            }
            #p2 {
              font-size: 10px;
            }
          }
        }
        .ratings-value::before {
          position: absolute;
          top: 22;
          right: 60px;
          content: " ";
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid gray;
        }
      }
      .checkin-submit-btn {
        // position: relative;
        // right: 10px;
        width: 100px;
        height: 30px;
        color: white;
        background-color: gold;
        border: none;
        border-radius: 3px;
      }
      .checkin-submit-btn:hover {
        background-color: rgb(241, 183, 36);
      }
    }

  } 
}