.home-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: fit-content;
  width: fit-content;
  // border: 1px solid black;
  .checkin-index-container {
    // border: 1px solid brown;
    height: fit-content;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .checkin-index {
      box-sizing: border-box;
      padding: 20px;
      // border: 1px solid purple;
      background-color: white;
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: 100%;
      .checkin-index-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 21px;
        font-weight: 700;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid lightgray;
      }
      .checkin-index-ul {
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        .checkin-index-item-container {
          // border: 1px solid red;
          width: 100%;
          height: fit-content;
          .checkin-index-item {
            // border: 1px solid green;
            border-bottom: 1.5px solid lightgray;
            margin-bottom: 15px;
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .checkin-item-row-1 {
              position: relative;
              width: 100%;
              display: flex;
              align-items: center;
              // justify-content: space-between;
              // border: 1px solid pink;
              img {
                width: 50px;
                height: 50px;
              }
              #checkin-brewery-pic {
                margin-left: auto;
              }
              p {
                font-size: 18px;
                padding-left: 10px;
                padding-right: 20px;
                a {
                  text-decoration: none;
                  color: rgb(255, 194, 41);
                }
              }
            }
            .checkin-item-row-2 {
              // border: 1px solid lightseagreen;
              display:flex;
              flex-direction: column;
              // align-items: center;
              // justify-content: center;
              width: 80%;
              .checkin-item-tri {
                background-color: white;
                position: relative;
                top: 7px;
                left: 15px;
                transform: rotate(45deg);
                width: 13px;
                height: 13px;
                border-top: 1px solid #dbdbdb;
                border-left: 1px solid #dbdbdb;
                border-bottom: 1px solid transparent;
                border-right: 1px solid transparent;
              }
              .checkin-body {
                box-sizing: border-box;
                border: 1px solid #dbdbdb;
                border-radius: 4px;
                padding: 5px;
                margin-bottom: 15px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                p {
                  padding-top: 8px;
                  font-size: 20px;
                }
                .checkin-body-bottom {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                  height: fit-content;
                  
                  #rating-view {
                    margin: 15px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // border: 1px solid black;
                    height: 15px;
                    width: fit-content;
                    img {
                      height: 22px;
                      width: 22px;
                      margin: 1px;
                    }
                  }
                }
              }
              .hide-image {
                visibility: hidden;
              }
              .show-image {
                width: 100%;
                #checkin-img {
                  width: 100%;
                  height: 200px;
                  object-fit: none;
                  // position: absolute;

                }
              }

            }
            .checkin-item-row-3 {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 80%;
              .checkin-item-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                button {
                  width: 50%;
                  padding: 10px;
                  margin-top: 15px;
                  margin-bottom: 15px;
                  border: none;
                  border-radius: 4px;
                  color: white;
                  font-size: 17px;
                  font-weight: bold;
                }
                #comment-btn {
                  display: flex;
                  justify-content: center;
                  background-color: rgb(177, 176, 176);
                  margin-right: 15px;
                  outline: none;
                  .comment-btn-icon {
                    margin-right: 8px;
                  }
                }
                #comment-btn:hover {
                  background-color: gray;
                }
                #comment-btn:active {
                  background-color: rgb(78, 78, 78);
                }
                #toast-btn {
                  width: 100%;
                  padding: 10px;
                  margin-top: 15px;
                  margin-bottom: 15px;
                  border: none;
                  outline: none;
                  border-radius: 4px;
                  color: white;
                  font-size: 17px;
                  font-weight: bold;
                }
              }
              .checkin-item-links {
                display: flex;
                width: 100%;

                p {
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  color: gray;
                }
                a {
                  text-decoration: none;
                  color: rgb(241, 183, 35);
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  margin: 0 10px;
                }
                .hide-delete {
                  visibility: hidden;
                }
              }
            }
            .checkin-item-row-4 {
              margin-top: 20px;
              padding: 3px 0;
              background-color: rgb(250, 248, 248);
              display: flex;
              align-items: center;
              border-radius: 4px;
              width: 80%;
              p {
                display: flex;
                padding: 0 35px;
                font-size: 20px;
                color: gray;
                text-align: center;
                align-items: center;
                img {
                  margin-left: 5px;
                  
                }
              }
              .border {
                height: 25px;
                border-left: 0.5px solid lightgray;
              }
              .toast-avatars-container {
                margin-left: 15px;
                .toast-avatar {
                  margin-right: 7px;
                  border-radius: 50px;
                  width: 30px;
                  height: 30px;
                }
              }
            }
            .checkin-item-row-4.hidden, .checkin-item-row-5.hidden {
              display: none;
            }
            .checkin-item-row-5 {
              // border: 1px solid black;
              margin-top: 15px;
              width: 80%;
              .comment-index-container {
                // border: 1px solid red;
                .comment-index {
                  // border: 1px solid green;
                  .comment-index-item-container {
                    border-bottom: 1px solid rgb(231, 231, 231);
                    .comment-index-item {
                      background-color: #faf8f8;
                      display: flex;
                      padding: 10px 5px;
                      .author-img {
                        width: 38px;
                        height: 38px;
                        border-radius: 50px;
                      }
                      .static-comment-body {
                        width: 100%;
                        margin-left: 10px;
                        .comment-body {
                          font-size: 15px;
                        }
                        .comment-btns {
                          display: flex;
                          align-items: center;
                          margin-top: 8px;
                          font-size: 12px;
                          color: rgb(173, 173, 173);
                          button {
                            appearance: none;
                            border: none;
                            outline: none;
                            background: none;
                            margin-left: 10px;
                            color:rgb(228, 148, 0);
                            font-size: 12px;
                          }
                          button:hover {
                            cursor: pointer;
                            color:rgb(255, 183, 0);
                          }
                          button.hidden {
                            display: none;
                          }
                        }

                      }
                      .static-comment-body.hidden {
                        display: none;
                      }
                      .comment-edit-form-container {
                        width: 100%;
                        margin-left: 10px;
                        .comment-edit-form {
                          #comment-edit-textarea {
                            resize: none;
                            border-radius: 5px;
                            box-shadow: inset 1px 1px 5px 1px lightgray
                          }
                        }
                        .comment-edit-form-bottom {
                          display: flex;
                          align-items: center;
                          p {
                            color: lightgray;
                            font-size: 15px;
                            margin-right: auto;
                          }
                          button {
                            appearance: none;
                            background: none;
                            border: none;
                            outline: none;
                            color:rgb(228, 148, 0);
                            font-size: 15px;
                            font-weight: bold;
                          }
                          button:hover {
                            cursor: pointer;
                          }
                          #edit-update:hover {
                            color:rgb(241, 183, 35)
                          }
                          #edit-cancel {
                            margin-left: 15px;
                            color: gray;
                          }
                        }
                      }
                      .comment-edit-form-container.hidden {
                        display: none;
                      }
                    }
                  }
                }
              }
              .comment-form-container {
                background-color: rgb(250, 248, 248);
                padding: 8px;
                overflow: hidden;
                transition: all 0.75s;
                -o-transition: all 0.75s;
                -webkit-transition: all 0.75s;
                height: fit-content;
                max-height: 300px;
                .comment-form {
                  .comment-form-bottom {
                    display: flex;
                    .chars-typed {
                      margin-top: 5px;
                      margin-left: 5px;
                      font-family: 'Roboto', sans-serif;
                      font-size: 15px;
                      color: lightgray;
                    }
                    .comment-form-btn {
                      outline: none;
                      border: none;
                      border-radius: 4px;
                      margin-top: 5px;
                      margin-left: auto;
                      padding: 5px 40px;
                      background-color: rgb(177, 176, 176);
                      font-family: 'Roboto', sans-serif;
                      font-weight: 600;
                      font-size: 18px;
                      color: white;
                    }
                    .comment-form-btn:hover {
                      cursor: pointer;
                      background-color: gray;
                    }
                    .comment-form-btn:active {
                      background-color: rgb(78, 78, 78);
                    }
                  }
                }
              }
              .comment-form-container.collapsed {
                visibility: hidden;
                max-height: 0px;
              }
            }
            
          }
        }
      }
    }
  }
  .home-rt-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    // border: 1px solid black;
    margin-left: 40px;
    height: fit-content;
    width: 260px;
    background-color: white;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .user-container {
      width: 100%;
      height: fit-content;
      .user-info-row-1 {
        display: flex;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
        }
        #user-fullname-icon {
          margin-left: 10px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 110px;
          h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
          }
          img {
            width: 15px;
            height: 15px;
          }
          p {
            padding-left: 2px;
            font-size: 12px;
            color: rgb(165, 165, 165);
          }
        }
      }
      .user-info-row-2 {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .total-checkins {
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px 20px 10px 20px;
          border-right: 1px solid lightgray;
          background-color: rgb(245, 245, 245);
          p {
            color: gray;
            font-size: 10px;
          }
          #num {
            font-size: 25px;
          }
        }
        .unique-checkins {
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px 20px 10px 20px;
          background-color: rgb(245, 245, 245);

          p {
            color: gray;
            font-size: 10px;
          }
          #num {
            font-size: 25px;
          }
        }
      }
    }
    // .top-rated-beers-container {
    //   h3 {

    //   }
    //   .top-rated-beers-index {
        
    //   }
    // }
  }
}