.home-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  height: fit-content;
  width: fit-content;
  border: 1px solid black;
  .checkin-index-container {
    border: 1px solid brown;
    height: fit-content;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .checkin-index {
      padding: 20px;
      border: 1px solid purple;
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: 60%;
      .checkin-index-title {
        font-size: 25px;

      }
      .checkin-index-ul {
        border: 1px solid blue;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        .checkin-index-item-container {
          border: 1px solid red;
          width: 100%;
          height: fit-content;
          .checkin-index-item {
            border: 1px solid green;
            display: flex;
            flex-direction: column;
            .checkin-item-row-1 {
              border: 1px solid pink;
              img {
                width: 25px;
              }
              p {
                font-size: 12px;
                a {
                  text-decoration: none;
                  color: rgb(255, 194, 41);
                }
              }
            }
            .checkin-item-row-2 {
              display:flex;
              flex-direction: column;
              .checkin-item-tri {
                width: 0;
                height: 0;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                border-bottom: 15px solid white;
              }
              .checkin-body {
                border: 1px solid #dbdbdb;
                display: flex;
                flex-wrap: wrap;
                #rating-view {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid black;
                  height: fit-content;
                  width: fit-content;
                }
              }
              .hide-image {
                visibility: hidden;
              }
              .show-image {
                width: 150px;
                #checkin-img {
                  width: 150px;
                }
              }

            }
            .checkin-item-row-3 {
              
            }
          }
        }
      }
    }
  }
  .home-rt-side {
    align-self: start;
    border: 1px solid black;
    margin-left: 80px;
    height: fit-content;
    width: 300px;
  }
}