.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 42px;
  background-color: gold;
  z-index: 10;

  .navbar-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    width: auto;
    width: 850px;
    color: white;
    text-decoration: none;
    .navbar-lft {
      display: flex;
      width: 500px;
    }
  
    .navbar-title-container {
      padding: 15px;
      text-align: center;
      .navbar-title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
        font-weight: 700;
      }
      .navbar-title-p {
        margin-top: 3px;
        font-size: 6px;
        letter-spacing: 0.1em;
      }
    }
  
    .navbar-links {
      position: relative;
      justify-content: center;
      align-items: center;
      left: 20px;
      display: flex;
      justify-content: space-between;
    }
  
    .navbar-link {
      width: fit-content;
      text-decoration: none;
      color: white;
      padding: 10px;
    }
  
    .navbar-rt {
      position: relative;
      right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .navbar-profile-img {
        display: flex;
      }
      .navbar-logout-btn {
        margin: 3px;
        height: 30px;
        width: 30px;
        // border-radius: 16px;
        font-size: 7px;
        margin-right: 15px;
      }
      .navbar-logout-btn:hover {
        cursor: pointer;
        color: white;
        background-color: gray;
      }
      
    }
  
  
  }
}


.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  border: lightgray 2px solid;
  border-radius: 3px;
  .search-bar-input {
    width: 150px;
    padding: 5px;
    padding-right: 15px;
    border-style: none;
    outline: none;
    border-radius: 3px;
  }
  
}

.navbar-hidden {
  visibility: hidden;  
}