.splash-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .splash-row-1 {
    position: relative;

    .auth-bar {
      position: relative;
      top: 16px;
      display: flex;
      justify-content: flex-end;
      // align-items: flex-end;
      padding: 10px;
      z-index: 1;

      .auth-bar-link {
        font-family: 'Raleway', sans-serif;
        padding: 10px 15px;
        margin: 8px;
        border: white solid 2px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        color: white;
        transition: 0.5s;
      }

      .auth-bar-link:hover {
        transition: 0.5s;
        color: black;
        background-color: white;
      }
    }
    .splash-bg-img-div {
      min-height: 100%;
      min-width: 1024px;
      width: 120%;
      height: auto;
      position: absolute;
      background-color: black;
      opacity: 1;
      z-index: 1;
    }

    
    .splash-bg-img {
      min-height: 100%;
      // max-height: 1024px;
      min-width: 1024px;
      width: 120%;
      height: auto;
      z-index: -10;
      opacity: 0.40;
    }

    .splash-logo {
      position: relative;
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 50px;
      width: 100%;
      z-index: 1;
      // background-color:yellowgreen;

      .splash-logo-title {
        // position: relative;
        // top: 100px;
        // left: 100px;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-size: 40px;
        font-weight: bold;
        z-index: 2;
      }

      .splash-logo-title-div {
        position: relative;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 20px;
        .splash-logo-beer {
          width: 100px;
          padding-bottom: 5px;
        }
      }
  
      hr {
        // position: relative;
        // top: 15px;
        // right: 100px;
        background-color: gold;
        height: 5px;
        width: 75px;
        z-index: 2;
      }

      .splash-logo-p-1 {
        text-align: center;
        color: white;
        font-size: 10px;
        letter-spacing: 0.2em;
        z-index: 2;
      }

      .splash-logo-p-2 {
        text-align: center;
        width: 390px;
        color: white;
        font-size: 30px;
        font-weight: 600;
        z-index: 2;
      }

      .splash-logo-side-img {
        width: 455px;
        position: relative;
        
        // padding: 20px;
        margin-bottom: 50px;
      }
    }

    
  }

  .splash-row {
    position: relative;
    top: 70px;
    background-color: white;
    width: 100%;
    height: 500px;
    z-index: 2;
  }

  .div-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin: 10px 60px;
        width: 280px;
        box-shadow:
          0px 0px 10px 2px rgba(0, 0, 0, 0.03),
          0px 0px 10px 2px rgba(0, 0, 0, 0.03);
      }
      h3 {
        font-size: 20px;
        padding-top: 25px;
        font-weight: bold;
      }
      p {
        font-family: 'Open Sans', sans-serif;
        padding-top: 20px;
        width: 400px;
        text-align: center;
      }
    }
  }
  
  .div-3 {
    position: relative;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    .phone-map {
      position: relative;
      top: 26px;
      width: 240px;
      margin-left: 16px;
      margin-right: 100px;
    }

    .map-bg {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.3;
      z-index: -2;
    }
    .div-3-text {
      height: 300px;
      width: 650px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .div-3-h1 {
        align-self: start;
        width: 575px;
        font-size: 30px;
        font-weight: 700;
      }

      .div-3-hr {
        background-color: gold;
        align-self: start;
        margin: 30px 0px;
        color: gold;
        width: 50px;
        border:  2px solid gold;

      }

      .div-3-h3 {
        font-family: 'Open Sans', sans-serif;
        line-height: 25px;
        align-self: start;
        width: 650px;
      }
    }
  }

  .div-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: lightgray 1px solid;
    .div-4-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .div-4-h1 {
        font-size: 30px;
        font-weight: 700;
      }
      .div-4-hr {
        background-color: gold;
        margin: 25px 0px;
        color: gold;
        width: 40px;
        border:  2px solid gold;
      }
    }
    .div-4-2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      .div-4-col {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        
        h3 {
          padding: 15px;
          font-weight: 700;
        }
        
        p {
          line-height: 25px;
          text-align: center;
        }
      }
    }
  }
  .splash-footer {
    height: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    .footer-p {
      position: relative;
      bottom: 20px;
      color: white;
      background-color: black;
      width: 100%;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      p {
        position: relative;
        bottom: 15px;
        width: 30px;
      }

      .footer-p-last {
        width: 200px;
      }
      .footer-cr-div {
        position: relative;
        width: 0;
      }
      .footer-cr {
        margin-bottom: 15px;
        font-size: 15px;
        width: 150px;
        position: absolute;
        right: 45px;
        top: 25px;
      }
    }

    .footer-logos {
      position: relative;
      bottom: 10px;
      width: 15%;
      display: flex;
      justify-content: space-around;
    }
  }
}