.toast-btn-container {
  width: 50%;
  #toast-btn {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    img {
      margin-right: 10px;
    }
  }
  #toast-btn:hover {
    cursor: pointer;
  }
  #toast-btn.untoasted:hover {
    background-color: gray;
  }
  #toast-btn.untoasted:active {
    background-color: rgb(78, 78, 78);
  }
  #toast-btn.toasted {
    background-color: gold;
    border: none;
  }
  #toast-btn.untoasted {
    background-color: rgb(177, 176, 176);
  }
}